body {
    font-family: cursive;
    background-color: lavenderblush;
    margin-top: 60px;
}

.center {
    text-align: center;
    line-height: 1.45;
    font-family: "open sans",sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #678;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.bgimg {
    background-image:url(/ui/Sree.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
    margin:0 auto;
    max-width:800px;
    padding-top: 225px; padding-bottom: 225px
}

 header {
    font-family: sans-serif;
    text-align:center;
    font-style: italic;
    color: #fff;
}

a {
    color: white;
    font-size:100%;
}

.container-article {
        padding:20px;
        margin: 0 auto;
        max-width: 800px;
}

 @media (max-width:800px) {
    body {
     background:red;
         }
}


#horizontalmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center; 
    background: rgba(0,0,0,0.5);
}

#horizontalmenu li {
    display:inline;
    list-style-type: none;
    padding: 0px 40px 0px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    text-align: center; 
}
    
    #contactbar li {
    display:inline-block;
    padding: 10px 40px;
    width: auto;
}
    
