body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.bgimg {
    background-image:url(/ui/IMG-20160901-WA0029.jpg) no-repeat fixed;
}

 .container {
    font-family: sans-serif;
}