body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.bgimg {
    background-image:url(/ui/BI1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 .container {
    font-family: sans-serif;
}

.li {
    display:inline-block;
    padding: 10px 40px;
    float: right;
}